---
title: sp33c.de, Lösungen für das Internet. Für Heute. Für Morgen. Für Menschen.
---

<div class="container content">

    <div class="row">
      <div class="six columns">

      <section>
      <h2>Verantwortlich für<br /> redaktionellen Inhalt:</h2>
      <p>
        Alexander Fitterling<br>
        Hellkamp 35</br>
        20255 Hamburg</br>
      </p>
      <p>
        phone: +49(0)40 29 89 72 44<br>
        mobile: +49(0)179 53 30 44 8<br>
        <a href="mailto:info@seamlesslywired.com">info@sp33c.de</a><br>
        <a href="http://seamlesslywired.com">http://sp33c.de</a><br>
      </p>
      <p>
        Finanzamt: Hamburg-Eimsbüttel<br>
        USt-IdNr.: DE268459719<br>
      </p>
      </section>

      </div>
    </div>

</div>
