---
title: sp33c.de - Lösungen für das Internet. Für Heute. Für Morgen. Für Menschen.
---

<div class="container content">

    <div class="row">
      <div class="six columns">

      <section>
      <h2>Verantwortlich für<br /> redaktionellen Inhalt:</h2>
      <p>
        Alexander Fitterling<br>
        Mettlenweg 28</br>
        2504 Biel/Bienne</br>
        Switzerland</br>
      </p>
      <p>
        mobile (CH): +49(0)768 04 51 01<br>
        mobile (DE): +49(0)179 53 30 44 8 (only online when in Germany)<br>
        <a href="mailto:info@sp33c.ch">info@sp33c.ch</a><br>
        <a href="http://sp33c.de">http://sp33c.ch</a><br>
      </p>
      </section>

      </div>
    </div>

</div>
