---
title: sp33c.de - Lösungen für das Internet. Für Heute. Für Morgen. Für Menschen.
---

<div class="container content">

    <div class="row">
      <div class="six columns">
        <!-- <div class="vspace"></div> -->
          <section>
              <h4><b></b>Abstract.</h4>

              <p>Alexander Fitterling, Freiberufler und Selbstständiger, entwickelt für das <b>Internet Lösungen</b>,
                  die moderne technische Erfordernisse einbeziehen. Er besitzt Erfahrungen von kleinen, mittleren und
                  sehr großen internationalen Projekten.</p>

              <!--<h4>Für End- und Firmenkunden.</h4>-->

              <p>Bei seiner Arbeit als Entwickler legt er sehr wert auf die
                  <b>inneren Werte wie Wartbarkeit, Erweiterbarkeit und Testbarkeit</b>. Die von ihm
                  <b>entwickelten Produkte</b> erzielen eine <b>sehr hohe Qualität und Festigkeit</b>.
              </p>

              <!--<p>Anhand Ihrer zu konkretisierenden <b>Beschreibungen, den <em>User Stories</em>,</b> entwickeln wir-->
              <!--gemeinsam Web Applikationen und Internet-Technologien mit sehr hoher, bis hin zu industrieller Festigkeit</b>.-->
              <!--Ein <b>alltagssprachlicher Dialog</b> sowie ein iterativer Entwicklungsstil-->
              <!--<b>erlaubt es Ihnen jederzeit</b>,-->
              <!--<b>aktiv einzugreifen</b> und <b>Ihr Produkt schrittweise zu verwirklichen</b>.-->
              <!--</p>-->

              <p>
                  Projekte, die seinen persönlichen Verfügungsrahmen übersteigen, können alternativ
                  <b>im Rahmen eines größeren, gesellschaftlichen Verbundes umgesetzt werden</b>.
              </p>

          </section>
        <div class="vspace2"></div>
      </div>
      <div class="three columns">

      </div>
      <div class="three columns">


      </div>
    </div>

</div>
