---
title: sp33c.de, Lösungen für das Internet. Für Heute. Für Morgen. Für Menschen.
---

<div class="container content">
    <div class="row">

      <div class="three columns">
      <figure>
          <a href="http://www.gamegenetics.com"><img src="images/gamegenetics_rs.png" /></a>
          <figcaption>
            <a href="http://www.gamegenetics.com">GameGenetics GmbH</a><br>
            Entwicklung<br>
          </figcaption>
        </figure>


      <figure>
          <a href="http://www.rrz.uni-hamburg.de"><img src="images/UHH.jpg" /></a>
          <figcaption>
            <a href="http://www.rrz.uni-hamburg.de">Regionales Rechenzentrum UHH</a><br>
            Parallel and Distributed<br>
            Computing Infrastructure (DCI)<br>
          </figcaption>
        </figure>

        <figure>
          <a href="http://www.trendwaerts.de"><img src="images/trendwaerts.jpg" /></a>
          <figcaption>
            <a href="http://www.trendwaerts.de">trendwärts.de</a><br>
            Softwareentwicklung / Beratung<br>
          </figcaption>
        </figure>

        <figure>
        <img src="images/mindyourstep.jpg" />
        <figcaption>

          <a href="http://mindyourstep.de">mindyourstep.de</a><br>
          Mitarbeit in Projekten u. Entwicklung<br>
        </figcaption>
        </figure>

        </div>
        <div class="three columns">

        <!--
        <figure>
        <img src="images/riedel.jpg" />
        <figcaption>
          Riedel GmbH<br>
          Mitarbeit in Projekten u. Entwicklung<br>

        </figcaption>
        </figure>
-->

        <figure>
        <a href="http://greenmediaverlag.de"><img src="images/greenmediaverlag.jpg" /></a>
        <figcaption>
          Green Media Verlag OHG<br>
          Entwicklung<br>
        </figure>

        <figure>
        <img src="images/praxisgrosshansdorf.jpg" />
        <figcaption>
                   Orthopädische Praxis Großhansdorf<br>
                   Entwicklung<br>
        </figcaption>
        </figure>

        <figure>
        <img src="images/tektour.jpg" />
        <figcaption>
          <a href="http://www.tektour.de">tektour.de</a><br>
          Entwicklung<br>


        </figcaption>
        </figure>


      </div>




    <div class="six columns">

      </div>

    </div>
</div>

